.header {
  background-image: linear-gradient(to right, rgba($color-primary, .7), rgba($color-primary-dark, .7)), url(/img/hero.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media only screen and (max-width: $bp-small) {
    height: 60rem;
  }


  &__heading {
    @extend %heading;
    animation: moveInLeft 2s;
  }


  &__text {
    color: #fff;
    font-size: 3rem;
    animation: moveInRight 2s;
  }


  &__navigation {
    z-index: 50;
    position: fixed;

    .burger__wrapper {
      width: 7rem;
      height: 7rem;
      background-color: #fff;
      position: fixed;
      right: 4rem;
      top: 5rem;
      z-index: 10;
      border-radius: 50%;
      cursor: pointer;

      @media only screen and (max-width: $bp-small) {
        width: 6rem;
        height: 6rem;
      }

      // &:hover .burger__icon::after {
      //   margin: -.2rem 0;
      // }

      // &:hover .burger__icon::before {
      //   margin: .2rem 0;
      // }
    }

    .header__menu {
      display: none;
    }

    .show {
      display: block;
    }

    .navigation__background {
      background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
      transform: scale(80);
      position: fixed;
      width: 100%;
      height: 100%;
    }


    /// navigation menu
    .header__nav {
      position: absolute;
      left: 50%;
      top: 50%;
      list-style: none;
      transform: translate(-50%, -50%);

      ul {
        @media only screen and (max-width: $bp-small) {
          margin-top: 70rem;
        }
      }

      ul li {
        list-style: none;
        margin: 5rem 0;
        font-size: 3rem;
        width: 35rem;
        box-shadow: 0 3px 1px 2px rgba(0, 0, 0, 0.2);

        @media only screen and (max-width: $bp-small) {
          margin: 6rem 0;
          width: 50rem;
        }

        a {
          text-decoration: none;
          font-weight: bold;
          padding: 3rem;
          display: inline-block;
          transition: all .2s;
          color: #fff;
          width: 100%;

          @media only screen and (max-width: $bp-small) {
            padding: 5rem;
          }

          &:hover {
            background-image: linear-gradient(to right, #1c92d2, #f2fcfe);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transform: scale(1.2);

          }
        }
      }

    }

    ///// burger icon
    .burger__icon {
      width: 3rem;
      height: 2px;
      display: inline-block;
      background-color: #333;
      position: relative;
      top: 3.5rem;

      @media only screen and (max-width: $bp-small) {
        top: 3rem;
      }

      &::after {
        top: -1rem;
        left: 0;
      }

      &::before {
        top: 1rem;
        left: 0;
      }

      &::after,
      &::before {
        content: '';
        width: 3rem;
        height: 2px;
        display: inline-block;
        background-color: #333;
        position: absolute;

      }
    }

    .burger__icon.active {
      background-color: transparent;
    }
    
    
    .burger__icon.active::after {
      transform: rotate(45deg);
      top: 0;
      transition: all .4s ease;
    }
    
    .burger__icon.active::before {
      transform: rotate(-45deg);
      transition: all .4s ease;
      top: 0;
    }
    

  }

}



//// Text animation
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

