.bg-video {

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(.5rem);

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

}

.reviews {
  position: relative;

  &__arrow {
    font-size: 10rem;
    color: RGBa(18, 34, 70, .8);
    cursor: pointer;
    transition: all .3s ease;


    @media only screen and (max-width: $bp-large) {
      padding: 1rem;
    }


    &:hover {
      transform: scale(1.1);
    }


  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


  }

  &__profile-container {
    width: 50%;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
  }

  &__profile {
    width: 90%;
    padding: 5rem;
    line-height: 1.6;
    background: RGBa(18, 34, 70, .9);
    display: flex;
    transform: skewX(-12deg);
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: -100%;
    transition: left .5s ease-in-out;

    &.active {
      left: 0;
      margin: 0 auto;
      right: 0;
    }

    @media only screen and (max-width: $bp-large) {
      background-color: #132043;
    }

    &>* {
      transform: skewX(12deg);
    }

    @media only screen and (max-width: $bp-largest) {
      width: 60%;
      padding: 2rem;
      line-height: 2;
      display: flex;
      align-items: center;
    }

    @media only screen and (max-width: $bp-large) {
      width: 80%;
    }

  }

  &__img {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    display: block;
    shape-outside: circle(50%);
    margin-top: 1.5rem;
    backface-visibility: hidden;
    object-fit: cover;
  }

  &__feedback {
    color: #fff;
    font-size: 1.2rem;
    padding-left: 3rem;
  }

}